/* $Id$ */

/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.
*/

/*** Color list:
#ffffff - White
#000000 - Black
#2587C4 - Deep blue used all over
#6FB7DF - Container background
#95CDEF - Borders and button hover
*/

/*** Image list:
images/gradient-inner.png - Pager number background
images/forum-separater.jpg - Background of posts. User info side blue.
*/

/*** FORUM GENERAL ***********************************************************/
#forum a:hover {
  text-decoration: none;
}

/*** PAGER *******************************************************************/

#forum .pager a {
  text-decoration: none;
  border: 1px solid #2587C4;
  background: #ffffff url(images/gradient-inner.png) repeat-x left top;
  font-weight: bold;
}

#forum .pager a.active {
  color: #000000;
}

#forum .pager-current,
#forum .pager a:hover {
  background: #2587C4;
  color: #ffffff;
}

/*** FORUM TABLES ************************************************************/

/* General */

#forum table {
  border: 1px solid #95CDEF;
}

#forum th {
  background-color: #2587C4;
  color: #ffffff;
}

#forum th a, #forum th a:link, #forum th a:hover, #forum th a:visited{
  font-weight: bold;
  color: #ffffff;
}


#forum td {
  border: 1px solid #95CDEF;
}

/* Containers & Forums */

#forum td.container {
  background-color: #6FB7DF;
  color: #ffffff;
}

#forum td.container a {
  font-weight: bold;
  color: #ffffff;
}

#forum .description {
  font-size: 75%;
  color: #ffffff;
}

#forum .forum .description {
 color: #6FB5DF;
}

#forum tr td.forum {
  background-image:url(images/forum.png);
  background-position:2px 50%;
  background-repeat:no-repeat;
  padding-left:25px;
}

#forum tr td.forum-list-new{
  background-image:url(images/forum-all-new.png);
}

#forum tr td.forum .name,
#forum tr td.forum .description {
  margin-left: 12px;
}

/* Topic listings */

#forum td .links {
  font-size: 0.9em;
}

#forum tr.notsticky {

}

#forum tr.firstnotsticky {

}

#forum tr.stickytopic {
  background: #95CDEF;
}

/* Top links */
#forum li {
  list-style-type: none;
  list-style-image: none;
}

.indent {
  margin-left: 30px;
}

/*** FORUM THREADS ***********************************************************/

.toppost {
/* This can be used for any special formatting of the main node */
}

.forum-comment {
  border: 1px solid #2587C4;
}

.forum-post-wrapper {
  background: url(images/forum-separater.jpg) repeat-y;
  border-top: 1px solid #2587C4;
}

/* Header at the top of each post */
.post-info {
  background: #2587C4 ;
  color: #ffffff;
}

.postedon{
  font-weight: bold;
  font-size: .8em;
}

.posttitle{
  font-weight: bold;
  border-bottom: 1px solid #2587C4;
}

.forum-comment .new {
  font-weight:bold;
}

.post-num a, .post-num a:link,
.post-num a:visited,
.post-num a:active,
.post-num a:hover {
  color:#ffffff;
}

/* User info */
.forum-comment-left .author-name {
  font-weight: bold;
  font-size: 1.1em;
}

.forum-comment-left .picture img {
  border: 1px solid #2587C4;
  background: #ffffff;
}

.author-title, 
.author-posts, 
.author-regdate, 
.author-points {
  font-size: 0.8em;
}

/* Signature */
.user-signature {
  margin: 15px 0px 1px 0px;
  padding: 0px 1px 0px 5px;
  font-size: 80%;
  color: #2587C4;
}

/*** LINKS AS BUTTONS ********************************************************/

/* Attempt to override spacing around the buttons by theme */
.forum-post-wrapper ul.inline li,
.forum-post-wrapper ul.links li {
  padding: 0pt;
  padding-right: 0pt;
  margin: 0pt;
}

.forum-top-links {
  float:left;
}

.forumlinks li {
  background: none;
  margin: 0pt;
  padding:0pt;
  padding-right: 0pt;
}

.forumlinks li a {
  background: #2587C4;
  border: 2px #2587C4 outset;
  padding: 1px 4px;
  color: #ffffff;
  text-decoration: none;
  font: bold 90%;
}

.forumlinks li a:link {
  color: #ffffff;
}

.forumlinks li a:active {
  color: #ffffff;
}

.forumlinks li a:visited {
  color: #ffffff;
}

.forumlinks li a:hover {
  border-style: inset;
  background-color: #95CDEF;
  padding: 2px 3px 0 5px; /*shift text 1px to the right and down*/
}

.topic_reply {
  font-size: 1.2em;
}




