/* $Id$ */

/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.

Colors used: (copied from silver bells... need to update)
  #C1C1C1 Borders, post seperator, avatar frame, statistics subheader.
  #333333 Table header font color.
  #F5F5F5 to #DDDDDD Gradient on table headers, post info, stats header, top
                     post footer, topic navigation.
  #F5F5F5 to #EFEFEF Gradient on topic list background.
  #F5F5F5 Stats section background.
  #FAFAFA Text area on posts.
*/

/*** PAGER *******************************************************************/

.forum-pager .pager a:link,
.forum-pager .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  text-decoration: none;
  border: 1px solid #91CDF5;
  background: #EDF5FA;
  background: -webkit-gradient(linear, left top, left bottom, from(#CBE2F1), to(#EDF5FA));
  background: -moz-linear-gradient(top, #CBE2F1, #EDF5FA);
  font-weight: bold;
}

.forum-pager .pager-current,
.forum-pager .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  color: #0062A0;
}

.forum-pager .pager a.active,
#forum-comments .pager a.active {
  background: #EDF5FA;
  background: -webkit-gradient(linear, left top, left bottom, from(#CBE2F1), to(#EDF5FA));
  background: -moz-linear-gradient(top, #CBE2F1, #EDF5FA);
  color: #0062A0;
}

/*** FORUM & TOPIC LIST ******************************************************/

/* General */
.forum-table {
  border: 3px solid #1659AC;
}

/* Headers */
.forum-table th {
  border-top: 1px solid #1659AC;
  background: #2587C4;
  background: -webkit-gradient(linear, left top, left bottom, from(#2587C4), to(#58B3ED));
  background: -moz-linear-gradient(top, #2587C4, #58B3ED);
  color: #ffffff;
  border-bottom: 1px solid #1659AC;
}

.forum-table th a,
.forum-table th a:visited,
.forum-table th a:link {
  color: #ffffff;
}

/* Containers & Forums */
.forum-table tr.even,
.forum-table tr.odd {
  border-top: 1px solid #FFFFFF;
  background: #EDF5FA;
  background: -webkit-gradient(linear, left top, left bottom, from(#CBE2F1), to(#EDF5FA));
  background: -moz-linear-gradient(top, #CBE2F1, #EDF5FA);
}

/* Topic listings */
.view-advanced-forum-topic-list .view-empty {
  border: border: 3px solid #1659AC;
}

.forum-table tr.sticky {
  background-color: #E6EDEC;
}

.forum-table tr.forum-last-sticky {
  border-bottom: 10px solid #91CDF5;
}

.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *******************************************************/

#forum-statistics {
  border: 1px solid #91CDF5;
}

#forum-statistics-header {
  border-top: 1px solid #1659AC;
  background: #2587C4;
  background: -webkit-gradient(linear, left top, left bottom, from(#2587C4), to(#58B3ED));
  background: -moz-linear-gradient(top, #2587C4, #58B3ED);
  color: #ffffff;
  border-bottom: 1px solid #1659AC;
}

.forum-statistics-sub-header {
  background-color: #CBE2F1;
}

/*** FORUM TOPICS **********************************************************/

.forum-post {
  border: 2px solid #1659AC;
}

/* Header at the top of each post */
.forum-post-info {
  border-top: 1px solid #1659AC;
  background: #2587C4;
  background: -webkit-gradient(linear, left top, left bottom, from(#2587C4), to(#58B3ED));
  background: -moz-linear-gradient(top, #2587C4, #58B3ED);
  color: #ffffff;
  border-bottom: 1px solid #1659AC;
}

.forum-forum-post .new {
  color: #ffffff;
}

.forum-post-title {
  border-bottom: 1px solid #1659AC;
}

.forum-post-number a {
  color: #ffffff !important;
}

/* Wrap around author pane and comment */
.forum-post-wrapper {
  background-color: #EDF5FA;
}

/* Post text area */
.forum-post-panel-main {
  background-color: #FFFFFF;
  border-left: 1px solid #1659AC;
}

/* Post footer */
.forum-post-footer {
  background-color: #FFFFFF;
  border-top: 1px solid #1659AC;
}

/* Box under top post before first reply */
.forum-top-post-footer {
  border: 2px solid #1659AC;
  background: #EDF5FA;
  background: -webkit-gradient(linear, left top, left bottom, from(#CBE2F1), to(#EDF5FA));
  background: -moz-linear-gradient(top, #CBE2F1, #EDF5FA);
}

/* Topic navigation */
.forum-topic-navigation {
  border: 2px solid #1659AC;
  background: #EDF5FA;
  background: -webkit-gradient(linear, left top, left bottom, from(#CBE2F1), to(#EDF5FA));
  background: -moz-linear-gradient(top, #CBE2F1, #EDF5FA);
}



