/* $Id$ */

/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.
*/

/*** FORUM LINK LISTS ********************************************************/

.forum-links li {
  list-style-image: none;
  list-style-type: none;
  background: none;
}

.forum-links li a {
  font-weight: bold;
}

/*** FORUM TABLES ************************************************************/

/* Headers */
#forum th a,
#forum th a:link,
#forum th a:hover,
#forum th a:visited {
  font-weight: bold;
}

/* Containers & Forums */
#forum td.container a {
  font-weight: bold;
}

#forum .description {
  font-size: 75%;
}

/* Topic listings */
#forum tr.sticky-topic {
  background: #DEDEDE;
}

/*** FORUM THREADS ***********************************************************/

.forum-comment {
  border-top: 1px solid #ccc;
}

/* Header at the top of each post */
.post-info {
  border-bottom: 2px solid #F7F5EE;
}

.posted-on {
  font-size: .8em;
  font-weight: bold;
}

.post-title {
  font-weight: bold;
}

/* Author information pane */
.forum-comment-left {
}

.author-pane .author-name {
  font-size: 120%;
  font-weight: bold;
}

.author-pane .picture img {
  border: 1px solid #000;
}

.author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
.forum-comment-right {
  border-left: 1px solid #F7F5EE;
}

/* Links */
.forum-comment .links {
  background-color: #fff;
  border-left: 1px solid #F7F5EE;
}

/* Signature */
.author-signature {
  font-size: .8em;
}