/* $Id$ */

/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.
*/

/*** FORUM GENERAL ***********************************************************/
#forum a:hover {
}

/*** PAGER *******************************************************************/

#forum .pager a:link,
#forum .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
}

#forum .pager-current,
#forum .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
}

#forum .pager a.active,
#forum-comments .pager a.active {
}

/*** FORUM TABLES ************************************************************/

/* General */

#forum table {
}

#forum th {
}

#forum th a,
#forum th a:link,
#forum th a:hover,
#forum th a:visited {
  font-weight: bold;
}

#forum td {
}

#forum tr.even,
#forum tr.odd {
}

#forum tr.odd td {
}

#forum tr.even td {
}

/* Containers & Forums */

#forum td.container {
}

#forum td.container a {
  font-weight: bold;
}

#forum .description {
  font-size: 75%;
}

#forum .forum .description {
}

#forum tr td.forum {
}

#forum tr td.forum-list-new {
}

#forum tr td.forum .name,
#forum tr td.forum .description {
  margin-left: 12px;
}

/* Topic listings */

#forum .forum-topics td.title {
}

#forum td .links {
  font-size: 0.9em;
}

#forum tr.not-sticky {

}

#forum tr.first-not-sticky {

}

#forum tr.sticky-topic {
  background: #DEDEDE;
}

/* Top links */
#forum li {
  list-style-image: none;
  list-style-type: none;
}

.indent {
  margin-left: 30px;
}

/*** FORUM THREADS ***********************************************************/

.forum-comment {
  border-top: 1px solid #ccc;
}

.top-post {
  border-top: 0;
  margin: 15px 0;
}

.forum-post-wrapper {
}

/* Header at the top of each post */
.post-info {
}

.posted-on {
  font-size: .8em;
  font-weight: bold;
}

.post-title {
  font-weight: bold;
}

.forum-comment .new {
  float: none;
  font-weight: bold;
}

.post-num a:link,
.post-num a:visited,
.post-num a:active,
.post-num a:hover {
}

/* User info */
.forum-comment-left {
  border-right: 2px solid #F7F5EE;
}

.forum-comment-left .author-name {
  font-size: 120%;
  font-weight: bold;
}

.forum-comment-left .picture img {
  border: 1px solid #000;
}

.forum-comment-left .author-info-label {
  font-weight: bold;
}

.user-info-inner img {
  vertical-align: top;
}

  
/* Signature */
.user-signature {
  font-size: .8em;
  margin: 15px 0 1px 155px;
  padding: 0 1px 0 5px;
}

/* Forum links */

.forum-top-links {
  float: left;
}

.forum-links li {
  background: none;
  margin: 0;
  padding: 0;
}

.forum-links li a {
  font-weight: bold;
}

.forum-links li a:link,
.forum-links li a:visited {
}

.forum-links li a:hover,
.forum-links li a:active {
}

.topic-reply {
  font-size: 1.2em;
}

/* Helper classes */

.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html>body .clearfix {
  display: inline;
  width: 100%;
}

* html .clearfix {
  /* Hides from IE-mac \*/
  height: 1%;
  /* End hide from IE-mac */
}