/* $Id$ */

/*
This document contains structural markup such as widths, margins, padding, and
floats.
*/

/*** PAGER ******************************************************************/

#forum .pager,
.forum-comment-wrapper .pager {
  text-align: right;
  float: right;
  clear: none;
}

#forum #forum-pager-top .pager{
  padding: 14px 0 0 0;
}

#forum #forum-pager-bottom .pager{
  padding: 0 0 10px 0;
}

.forum-comment-wrapper .box {
  clear: both;
}

/* The rest of the pager styles are invisible on naked but will show up
   for substyles that set a background and/or border. */
#forum .pager a,
.forum-comment-wrapper .pager a {
  padding: 1px 3px;
  margin: 0pt;
}

#forum .pager li,
.forum-comment-wrapper .pager li {
  padding:0pt;
  margin: 0pt;
}

#forum .pager li.pager-current,
.forum-comment-wrapper .pager li.pager-current {
  padding: 2px 3px 2px 3px;
}


/*** FORUM LINK LISTS *******************************************************/

/* Applies to all forum links */
ul.forum-links li {
  display: inline;
}

/* New topic / New poll / Etc */
.forum-primary-links li {
  background: none;
  list-style-image: none;
  list-style-type: none;
  padding: 0 8px 0 0;
}

/*** FORUM & TOPIC LIST *****************************************************/

#forum .forum-table {
  clear: both;
  width: 100%;
}

/* Header, both tables */
#forum .forum-table th {
  text-align: center;
}

/* Forum listing */
#forum th.forum-name {
  text-align: left;
}

#forum td.forum-details {
  width: 50%;
}

#forum td.forum-details .forum-description {
  margin: 0;
}

#forum td.forum-details .forum-subforums,
#forum td.forum-details .forum-subforums a {
  padding-left: 10px;
}

#forum td.forum-number-topics {
  width: 10%;
  text-align: center;
}

#forum td.forum-number-posts {
  width: 10%;
  text-align: center;
}

#forum td.forum-last-reply {
  width: 20%;
}

/* Topic listing */

/* Set column widths */
#forum .forum-table-topics td.forum-topic-icon,
#forum .forum-table-topics td.views-field-topic-icon {
  width: 26px;
}

#forum .forum-table-topics td.forum-topic-title,
#forum .forum-table-topics td.views-field-title {
  width: 50%;
}

#forum .forum-table-topics td.forum-replies,
#forum .forum-table-topics td.views-field-comment-count,
#forum .forum-table-topics td.forum-number-views,
#forum .forum-table-topics td.views-field-totalcount {
  width: 10%;
}

#forum .forum-table-topics td.forum-last-reply,
#forum .forum-table-topics td.views-field-last-updated {
  width: 30%;
}

/* Set alignments & spacing */
#forum .forum-table-topics .forum-topic-title,
#forum .forum-table-topics .views-field-title {
  text-align: left;
}

#forum .forum-table-topics td.forum-replies,
#forum .forum-table-topics td.views-field-comment-count,
#forum .forum-table-topics td.forum-number-views,
#forum .forum-table-topics td.views-field-totalcount {
  text-align: center;
  white-space: nowrap;
}

#forum .forum-table-topics td.forum-topic-created,
#forum .forum-table-topics td.forum-last-reply,
#forum .forum-table-topics td.views-field-last-updated {
  line-height: 140%;
  white-space: normal !important;
}

/* Topic icon */
#forum .forum-table-topics span.topic-icon {
  display: block;
}

/*** FORUM STATISTICS *******************************************************/

#forum-statistics-header,
.forum-statistics-sub-header {
  padding: 0.3em 0.5em;
}

.forum-statistics-sub-body {
  padding: 0.3em 0.5em 0 2em;
}


/*** ICONS LEGEND ***********************************************************/

.forum-folder-legend {
  margin-bottom: 30px;
}

.forum-folder-legend div {
  float: left;
  padding: 15px 0 15px 52px;
  margin-right: 10px;
}

.forum-topic-legend div {
  float: left;
  padding: 5px 0 5px 25px;
  margin-right: 7px;
}


/*** FORUM THREADS **********************************************************/

/* Header at the top of each topic/thread */
.forum-topic-header {
  margin: 10px 0 2px 0;
}

.forum-topic-header .reply-link {
  float: left;
  margin: 10px 15px 2px 0;  
}

.forum-topic-header .search-topic {
  float: left;
}

.forum-topic-header .reply-count {
  float: right;
  margin: 10px 0 2px 0;
}

/* Individual forum post */
.forum-post {
  margin: 0 0 5px 0;
  padding: 0;
}

.forum-post-wrapper {
  clear: both;
  height: 100%;
}

/* Header at the top of each post */
.forum-post-info {
  height:100%;
  clear: both;
  margin-bottom: 3px;
}

.forum-posted-on {
  padding: 0 5px;
  float: left;
}

.forum-post .new {
  float: none;
}

.forum-post-number {
  float: right;
  margin-right: 5px;
}

.forum-post-title {
  padding: 1px 1px 1px 10px;
}

/* Author information pane */
.forum-post-panel-sub {
  float: left;
  line-height: 100%;
  width: 150px;
}

.forum-post-panel-sub .author-pane {
  margin: 10px;
}

.forum-post-panel-sub .author-pane .picture {
  float: none;
  padding-left: 0px;
  margin: 2px 0 10px 0;
}

.forum-post-panel-sub .author-pane .author-pane-section {
  margin-bottom: 10px;
}

.forum-post-panel-sub .author-pane .author-pane-line {
  padding-bottom: 5px;
}

/* Post text area */
.forum-post-panel-main {
  margin-left: 150px; /*Set left margin to LeftColumnWidth*/
  
/* These heights keep the AP items from jumping out of the bottom. Depending 
   on how many items you display, there, this number may need to be adjusted 
   to avoid having unnecessary white space in your posts. */
  min-height: 230px;
  height: auto !important;
  height: 230px;
}

.forum-post-panel-main .forum-post-content {
  padding-top: 2px;
}

.forum-post-panel-main .post-title,
.forum-post-panel-main .forum-post-content {
  margin-left: 0;
  padding-left: 10px;
}

.forum-post-panel-main p {
  margin-right: 10px;
}

/* Signature */
.author-signature {
  margin: 10px 0 5px 10px;
}

/* Post footer */
.forum-post-footer {
  margin-top: 0;
  clear: both;
}

.forum-jump-links {
  float: left;
  line-height: 2em;
  padding: 0px 5px;
  width: 140px;
}

.forum-post-links {
  line-height: 2em;
  padding: 0px 5px;
  margin-left: 150px;
  text-align: right;
}

.forum-top-post-footer {
  margin: 10px 0 10px 0;
  padding: 5px;
}

/* Defeat garland */
#comments.forum-comment-wrapper {
  margin-top: 0;
}

/* Search */
#forum #search-all-forums {
  float: right;
}

#forum #search-single-forum {
  float: left;
}

#forum #advanced-forum-search-forum,
.forum-topic-header #advanced-forum-search-topic {
  margin: 0;
  padding: 14px 0 0 0;
}

#forum #advanced-forum-search-forum input,
.forum-topic-header #advanced-forum-search-topic input {
  margin: 0;
  padding: 0;
}

.forum-topic-header #advanced-forum-search-topic {
  margin-bottom: 10px;
}

.view-avf-search .views-row,
.view-avf-search-topic .views-row {
  margin-bottom: 2em;
}

.forum-search-result {
  margin-bottom: 10px;
}


