/* $Id$ */

/*
This file contains colors, graphics, and text effects. 

Colors used:
  #CCCCCC Borders, post seperator, avatar frame, statistics subheader.
  #494949 Table header font color.
*/

/*** FORUM & TOPIC LIST ******************************************************/

/* General */
#forum .forum-table,
#forum .forum-topics {
  border: 1px solid #CCCCCC;
}

/* Headers */
#forum .forum-table th,
#forum .forum-topics th {
  background-color: #CCCCCC;
}

#forum .forum-table th,
#forum .forum-table th a,
#forum .forum-topics th,
#forum .forum-topics th a {
  color: #494949;
  font-weight: bold;
}

/* Topic listings */
#forum tr.forum-last-sticky {
  border-bottom: 10px solid #CCCCCC;
}

#forum .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *********************************************************/

#forum-statistics {
  border: 1px solid #CCCCCC;
}

#forum-statistics-header {
  background-color: #CCCCCC;
  font-weight: bold;
}

.forum-statistics-sub-header {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-weight: bold;
}

.forum-statistics-sub-body {
  padding-left: 15px;
}

/*** FORUM THREADS ***********************************************************/

.forum-post {
  border: 1px solid #CCCCCC;
}

/* Header at the top of each post */
.post-info {
  background-color: #CCCCCC;
  color: #494949;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

.posted-on {
  font-size: .8em;
  font-weight: bold;
}

.post-title {
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

/* Author information pane */
.forum-post-panel-sub .author-pane .author-name {
  font-size: 120%;
  font-weight: bold;
}

.forum-post-panel-sub .author-pane .picture img {
  border: 1px solid #CCCCCC;
}

.forum-post-panel-sub .author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
.forum-post-panel-main {
  border-left: 1px solid #CCCCCC;
}

/* Signature */
.author-signature {
  font-size: .8em;
}

/* Post footer */
.forum-post-footer {
  border-top: 1px solid #CCCCCC;
}

.forum-jump-links {
  border-right: 1px solid #CCCCCC;
}
